<div class="card">
  <div class="card-body">
    <nav class="navbar bg-primary" data-bs-theme="dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Available courses</a>
      </div>
    </nav>

    @if (courses$ | async; as courses) {
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Course</th>
          <th scope="col">Category</th>
        </tr>
      </thead>

      <tbody>
        @for (course of courses; track course) {
        <tr>
          <td>{{ course.name }}</td>
          <td>{{ course.category }}</td>
          <mat-icon
            aria-hidden="false"
            aria-label="Course category icon"
            fontIcon="{{ course.category | category }}"
          ></mat-icon>
        </tr>
        }
      </tbody>
    </table>
    } @else {
    <div class="loading-spinner">
      <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
    }
  </div>
</div>
